.thumbnail-with-text{
	text-align: left;
}

.YoutubeCard{
	padding-top: 20px;
}

.YoutubeCardGrid{
	max-width: 95%;
	padding-left: 3%;
}

.videotitle{
	font-size: 14px;
	font-weight: bold;
}

.videochannel{
	font-size: 11px;
}

.videodate{
	font-size: 10px;
}